[submodule "madai_health"]
	path = madai_health
	url = git@github.com:theshaodi/madai_health.git
[submodule "madai_healthmobile"]
	path = madai_healthmobile
	url = git@github.com:theshaodi/madai_healthmobile.git
