[submodule "madai_health"]
	path = madai_health
  url = https://github.com/theshaodi/madai_health.git
[submodule "madai_healthmobile"]
	path = madai_healthmobile
  url = https://github.com/theshaodi/madai_healthmobile.git
